.produk-img{
	width:50%;
	margin:auto;
}

.produk2-img{
	width:50%;
	margin:auto;
	padding:auto;
}

.produk3-img{
	width:50%;
}

.produk4-img{
	width:50%;
}

.news{
	margin-top:30px;
}

.navbar {
    margin-bottom: 0;
		background-color: #303030;
		border-radius: 0;
}

.ruang{
		position: static;
		display: block;
}

.poe{
		background-color: #fafafa;
			height: 100%;
}

.detail{
	margin-bottom: 200px;
}

.big_image{
	margin-top: 200px;
	margin-bottom: 200px;
}
.deskripsi{
	margin-top:200px;
	margin
}

body{
	font: 13px/1.7em 'Nexa light';
}

.menuTengah{
	position: absolute;
	margin-left: 350px;
}
.master{
		background-color: #303030;
}

.navbar-brand, .navbar-nav > li > a {
	color:white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
		background-color: white;
		color: #303030;
}

#detail{
	text-decoration: none;
	color: black;
}
h2{
	font-family: "BodoniFLF";
}
button{
		background-color: #303030; /* black */
		display: block;
	  border: none;
	  color: #FFFFFF;
	  text-align: center;
	  font-size: 15px;
	  padding: 10px;
	  width: 150px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: auto;
		margin-top: 50px;
	}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img{
	width: 100%;
}
