@import 'https://fonts.googleapis.com/css?family=Lato';

body{
	font-famil: 'Lato';
	font-weight: 300;
	letter-spacing: 1;
}

.produk-img{
	width:50%;
	margin:auto;
}

.produk2-img{
	width: 600px;
	max-width:80%;
	margin:auto;
	padding:auto;
}

.produk3-img{
	width:500px;
	max-width: 80%;
	margin-left: 10%;
}

.produk4-img{
	width:400px;
	max-width: 80%;
	margin-left: 10px;
}

.news{
	float: left;
	margin-top: 10px;
	background-color: #fafafa;
	height: 100%;
}

.girl-img{
	width: 100%;
}

#menu-last{
	margin-top: 30px;
}

#menu-last > ul{
	text-align:center;
	width: 100%;
	padding: 0px !important;
}

#menu-last > ul > li{
	text-decoration: none;
	list-style-type: none;
	/*display: block;*/
	margin: 0;
	padding: 10px 20px;
	display: inline-block;
}

#menu-last a {
	color: #333;
}

.last{
	background-color: #fafafa;
	text-align: center;
	width: 100%;
	margin-top:2em;
}
#email{
	width: 550px;
	max-width: 100%;
}
.logo{
	/*width: 10%;*/
	width: 150px;
	max-width: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.logo-icon{
	position: fixed;
	left: 50%;
	top: 8px;
	margin-left: -10px;
	display: none;
}

.logo-icon img {
	width: 20px !important;
}

.form-control {
	border: 1px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000;
}

.form-control:focus {
	border: 1px solid #555;
	box-shadow: 0px 0px 0px #000;
}
.navbar {
	margin-bottom: 0;
	background-color: #303030;
	border-radius: 0;
}

.ruang{
	position: static;
	display: block;
}

.poe{
	background-color: #fafafa;
	padding-top: 20px;
	padding-right: 20px;
}

.poe2{
	background-color: #fafafa;
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 20px;
}

.detail{
	margin-bottom: 200px;
	font: 12px;
}

.big_image{
	margin-top: 200px;
	height: 400px;
	margin-bottom: 100px;
}

.big_image img{
	position: absolute;
}
.deskripsi{
	margin-top:200px;
	margin
}

.menuTengah{
	/*position: absolute;*/
	margin-left: 350px;
}

.right-menu{
	color: #FFF;
	width: auto;
	/*float:right;*/
	position: absolute;
	right: 0px;
	font-size: 16px;
}

.master{
	background-color: #303030;
}

.navbar-brand, .navbar-nav > li > a {
	color:white;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: white;
	color: #303030;
}

.navbar-wootekh{
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
}

.navbar-wootekh li {
	position: relative;
	display: inline-block;
	float:none;
}

li{

	margin-bottom: 0px;
}

#pull {
	color: #FFF;
	display: none;
	position: absolute;
	right: 15px;
	top: 2px;
	font-size: 25px;
}

.navbar-1 i{
	font-size: 16px;
}

#detail{
	text-decoration: none;
	color: black;
}

h2{
	font-family: "BodoniFLF";
	letter-spacing: 3px;
}

button{
	background-color: #303030; /* black */
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px 30px;
	transition: all 0.5s;
	cursor: pointer;
	margin: auto;
	border-radius: 0px !important;
}

.btn-wootekh{
	background-color: #303030; /* black */
	border-color: #303030;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-wootekh:hover{
	transition: all 0.5s;
	color: #ddd;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

img{
	max-width: 100%;
}

.text-center{
	text-align: center !important;
}

.text-justify{
	text-align: justify !important;
}

.footer{
	padding: 10px 0px 20px 0px !important;
	text-align: center;
}

.no-padding{
	padding: 0px !important;
}


a{
	transition: all 0.5s;
}

a:hover{
	transition: all 0.5s;
}

.girl-container{
	min-height: 400px;
	overflow: hidden;
}

.girl-container img{
	position: absolute;
	width: 400px;
}


.content{
	padding-top: 100px;
}




















@media screen and (max-width: 1000px ){
	#pull, .logo-icon { display:block; }
	.navbar-1{
		display:none;
	}
	.navbar-2{
		display:none;
	}

	.navbar-2{
		position: fixed;
		top: 40px;
		left: 0px;
		width: 100% ;
	}
	.navbar-wootekh li{
		width: 100%;
		background: #333;
	}

	.master{ height: 40px; position: fixed; width: 100%; z-index: 9999;}

	.navbar-3 .nav{
		position: fixed;
		left: 0px;
		top: 0px;
	}

	.navbar-3 .nav li a{
		width: auto;
		display: inline;
		float: left;
	}

	.navbar-nav{
		margin: 0px;
		left: 0px;
	}

	.poe2{
	padding: 0px;
	}
}
